
@{
    ViewBag.Title = "DepoEkle";
}

<form class="form-group" method="post">

    <div>
        <label>FİŞ NO</label>
        <input type="text" class="form-control" name="FisNo" required="" />
    </div>

    <div>
        <label>DEPO KODU</label>
        <input type="text" class="form-control" name="DepoKodu" required="" />
    </div>

    <div>
        <label>GİRİŞ ÇIKIŞ MİKTARI</label>
        <input type="text" class="form-control" name="GCMiktarı" required="" />
    </div>

    <div>
        <label>KAYIT TARİHİ</label>
        <input type="text" class="form-control" name="KayitTarihi" required="" />
    </div>

    <div>
        <label>KULLANICI</label>
        <input type="text" class="form-control" name="KullaniciAdi" required="" />
    </div>

    <button class="btn btn-info">Depo Giriş Çıkış Ekle</button>

</form>