
@{
    ViewBag.Title = "StokEkle";
}

<form class="form-group" method="post">

    <div>
        <label>STOK KODU</label>
        <input type="text" class="form-control" name="StokKodu" required="" />
    </div>

    <div>
        <label>STOK ADI</label>
        <input type="text" class="form-control" name="StokAdi" required="" />
    </div>

    <div>
        <label>KDV</label>
        <input type="text" class="form-control" name="Kdv" required="" />
    </div>

    <div>
        <label>FİYAT</label>
        <input type="text" class="form-control" name="Fiyat" required="" />
    </div>

    <div>
        <label>AÇIKLAMA</label>
        <input type="text" class="form-control" name="Aciklama" required="" />
    </div>

    <div>
        <label>DEPO KODU</label>
        <input type="text" class="form-control" name="DepoKodu" required="" />
    </div>

    <div>
        <label>KAYIT TARİHİ</label>
        <input type="text" class="form-control" name="KayitTarihi" required="" />
    </div>

    <div>
        <label>KULLANICI</label>
        <input type="text" class="form-control" name="KullaniciAdi" required="" />
    </div>

    <button class="btn btn-info">Stok Ekle</button>

</form>